.itinerario-page {
    background: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
}
.header-box {
    background-color: rgba(51, 51, 51, 0.8); /* Giallo scuro con trasparenza */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-box h1{
    color: white;
    margin: 1.5rem;
    font-weight: bold;
    font-size: 4rem;
}

.top-left-buttons {
    display: flex;
    align-items: center;
}
.top-left-buttons a {
    color: black;
    margin-right: 10px;
}
.overlay {
    padding: 20px;
    position: relative;
    z-index: 0;
}
.content {
    padding: 20px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.itinerario-description{
    width: 50%;
    background-color: rgba(51,51,51,0.8);
    border-radius: 20px;
    padding: 1.5rem;
    color: white;
}

.itinerario-description p{
    font-size: 1.5rem;
    font-weight: bold;
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: gray;
    outline: none;
}
.bookmark-button.bookmarked {
    color: green;
}
.fa-bookmark {
    font-size: 1.5em;
}
.fa-bookmark.bookmarked {
    color: green;
}

.recensioni-container {
    border-radius: 20px;
    color: white;
    width: 50%;
    background-color: rgba(51,51,51,0.8);
    padding: 1.5rem;
}
.recensioni-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.recensioni-header h2 {
    margin: 0;
}
.add-recensione-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.recensione-panel {
    border-bottom: 1px solid black;
    padding: 10px 0;
}
.recensione-panel:last-child {
    border-bottom: none;
}
.recensione-username {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.star-rating {
    color: gold;
}
.recensione-commento {
    margin-top: 5px;
}