.recensione-page{
    background-image: url(../images/recensioni_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main{
    margin-top: 8rem;
}

.pubblica-form {
    max-width: 35%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="file"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
button {
    padding: 10px 20px;
    background-color: rgb(204, 153, 0);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #28a745;
    border: none;
}